@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Game Companies Directory</h1>
    <p>This page lists some of video games developers and publishers.</p>
</div>

<ul>
    <li>All companies</li>
    <li>Companies not owned by anyone else</li>
    <li>Companies from United States, France, Czechia, Poland, Sweden, Germany</li>
</ul>

<form asp-page="./Index" method="get" class="form-inline">
    
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-route-OrderBy="@Model.OrderByName" asp-route-NameFilter="@Model.NameFilter">
                    @Html.DisplayNameFor(x => x.Companies.FirstOrDefault().Name)
                </a>
            </th>
            <th>
                <a asp-route-OrderBy="@Model.OrderByCC">
                    @Html.DisplayNameFor(x => x.Companies.FirstOrDefault().CountryCode)
                </a>
            </th>   
            <th>@Html.DisplayNameFor(x => x.Companies.FirstOrDefault().Website)</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Companies)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CountryCode</td>
                <td><a href="@item.Website">@item.Website</a></td>
                <td><a class="btn btn-info" asp-page="Details" asp-route-id="@item.Id">detail</a></td>
            </tr>
        }
    </tbody>
</table>